/* stylelint-disable no-duplicate-selectors */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 399px;
  gap: 26px;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
  font-family: Oswald;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__video-card-title {
  max-width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  font-family: Oswald;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 0;
  flex-grow: 1;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.search-form__textfield {
  appearance: none;

  width: 225px;
  height: 27px;

  background-color: #1b1919;

  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;

  padding: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;

  border: 1px solid #fff;
  padding: 1px;

  box-sizing: border-box;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;

  width: 100%;
  height: 100%;

  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;

  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  line-height: 22px;
  color: #fff;

  padding: 6px 73.5px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
